.RootContainer {
	width: 40%;
	margin: 10vh auto;
	background-color: #ffffff;
	padding: 2.5rem;
	text-align: center;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.RadioButtonsContainer {
	display: flex;
	width: 100%;
	padding: 8px;
	background-color: #ffffff;
	margin-bottom: 8px;
}

.RadioButtonsContainer div {
	width: 50%;
	font-size: 16px;
}

.RadioButtonsContainer input {
	margin-right: 5px;
}
