.RootContainer {
	width: 40%;
	margin: 2vh auto;
	padding: 2.5rem;
	text-align: center;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
}

#input {
	border: 1px solid #000;
}

.RadioButtonsContainer {
	display: flex;
	width: 100%;
	padding: 8px;
	background-color: #ffffff;
	margin-bottom: 8px;
	justify-content: space-between;
}

.RadioButtonsContainer div {
	margin-right: 20px;
}

.RadioButtonsContainer input {
	margin-right: 5px;
}
