.RootContainer {
  margin: 0 auto;
  position: relative;
  z-index: 20;
  text-align: center;
  display: flex;
}

.BusInfoContainer {
  background-color: #ffffff;
  padding: 2rem;
  min-width: 55%;
  margin: 0 4rem auto 10rem;
}

.StatusContainer {
  padding: 15px;
  display: flex;
  margin: auto;
  background-color: #f1f8e9;
  box-shadow: 2px 2px 2px #d6d6d6;
}

.StatusContainer > div {
  margin: 0px 20px;
  width: 100%;
}

.StatusContainer > div > span {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.StatusContainer > div > p {
  display: inline-block;
  vertical-align: middle;
}

.Indigo {
  background-color: #7986cb;
  border: 2px solid white;
}

.Indigo:hover {
  background-color: #ffffff;
  color: #7986cb;
  border: 2px solid #7986cb;
  font-weight: bold;
}

.Grey {
  background-color: #eee;
}

.Grey:hover {
  background-color: #ffffff;
  border: 2px solid #eee;
  color: #eee;
  font-weight: bold;
}

.Blue {
  background-color: #40c4ff;
}

.Blue:hover {
  background-color: #ffffff;
  border: 2px solid #40c4ff;
  color: #40c4ff;
  font-weight: bold;
}

.BlankSeat {
  background-color: #ffffff;
}

.DriverSymbol {
  /* text-align: right; */
  margin: 20px 10px;
  /* float: right; */
  text-align: right;
}

.DriverSymbol > div,
.DriverSymbol > div > span {
  display: inline-block;
  text-align: center;
}

.SeatsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr 2fr 2fr;
  grid-template-rows: repeat(8);
  margin: auto;
  grid-gap: 20px;
  margin-top: 20px;
}

.SeatsContainer > div {
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
}

.BusInfoContainer > button {
  width: 50%;
}

.PersonDetailsContainer {
  background-color: #ffffff;
  text-align: center;
  padding: 2rem 1rem;
  min-width: 25%;
  /* margin: 20% auto 50px auto; */
  margin: auto;
  padding-bottom: 3rem;
}

.PersonDetailsContainer > div > p {
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 20px;
}

.PersonDetailsContainer h2 {
  font-size: 20px;
}

.PersonDetailsContainer > button {
  width: 100%;
}

.SeatNumber {
  font-size: 100px;
  height: 120px;
  padding: 0;
  margin: 0;
}

.PersonDetails {
  margin-top: 2rem;
}

.PersonDetails > p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.PersonDetails > div {
  text-align: left;
  padding-left: 2rem;
  font-size: 16px;
  margin-top: 2rem;
}

.TicketBookerInfoContainer {
  background-color: #ffffff;
  text-align: center;
  padding: 2rem 1rem;
  min-width: 25%;
  margin: auto;
  padding-bottom: 3rem;
}

.TicketBookerInfoContainer > div {
  text-align: left;
  margin: 20px;
  font-size: 16px;
}

.TicketBookerInfoContainer > div > p {
  margin-bottom: 8px;
}

.TicketBookerInfoContainer > div > p:first-of-type {
  float: right;
  font-size: 40px;
}

.BusInfoContainer > button,
.PersonDetailsContainer > button,
.TicketBookerInfoContainer > button {
  padding: 1rem;
  margin: 3rem auto;
  border-radius: 25px;
  border: 2px solid #ef5350;
  background-color: #ef5350;
  color: #ffffff;
  outline: none;
  font-size: 16px;
}

.BusInfoContainer > button:hover,
.PersonDetailsContainer > button:hover,
.TicketBookerInfoContainer > button:hover {
  color: #ef5350;
  background-color: #ffffff;
  border: 2px solid #ef5350;
}

.TicketBookerInfoContainer > button {
  width: 80%;
  margin: 15px 0px 0px 0px;
}
