.RootContainer {
  padding: 0;
  margin: 0;
  background-color: grey;
  min-height: 92vh;
  width: 100%;
}

.ContentContainer {
  background-color: #eee;
  text-align: right;
  margin-left: 280px;
  margin-top: 8vh;
  width: 80%;
  position: relative;
  padding: 2rem;
  min-height: 92vh;
  box-sizing: border-box;
  float: right;
  box-shadow: -15px -15px 15px -8px rgba(0, 0, 0, 0.5);
}
