@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body {
	background-color: grey;
	margin: 0%;
	font-family: 'Lato', sans-serif;
}
